.view-notes-container {

  .notes-list {
    padding: 0.25rem;
    border: 1px solid gray;
    height: 300px
  }

  .notes-date {
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    background-color: gray;
    padding-left: 0.25rem;
  }

  .notes-list-item {
    border: 1px solid lightgray;
    margin-bottom: 0.25rem;
    background-color: rgb(219 162 56 / 46%);
    color: black;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    margin-left: 1.25rem;
  }

  .notes-list-item.selected {
    color: #ffffff !important;
    border: none;
    background: rgb(219 162 56);
  }

  .notes-detail {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 1px solid gray;
  }

  .notes-label {}

  .notes-value {
    color: var(--text-color-primary);
    font-weight: bold;
    font-size: 1rem;
  }

  .notes-header {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
