/*
custom overlay panels: top-left, top-right, bottom-left and bottom-right
If any text to be displayed on the overlay is too long to hold on a single
line, it will be truncated with ellipsis in the end.
*/
.viewport-overlay {
  max-width: 30%;
}

.viewport-overlay span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewport-overlay.left-viewport {
  text-align: left;
}

.viewport-overlay.right-viewport-scrollbar {
  text-align: right;
  max-width: 25%;
}

.viewport-overlay.right-viewport-scrollbar .flex.flex-row {
  justify-content: flex-end;
}

.overlay-item.ruler-overlay {
  display: flex;
  align-items: center;
}

.ruler-bar {
  height: 2px;
  background-color: currentColor;
  margin-right: 5px;
}
