<p style="text-align: center;"> <strong><u>DEPARTMENT OF RADIOLOGY</u></strong></p>
<p></p>
<p class="ql-align-center" style="text-align: center;"><strong><u>CT ABDOMEN WITHOUT CONTRAST</u></strong></p>
<p class="ql-align-justify"><br></p>
<p class="ql-align-justify"><strong><u>TECHNIQUE:</u></strong></p>
<p>Helical CT acquisition of abdomen was done on Dual source Dual energy 64 slice MDCT scanner &amp; images were
  reconstructed in axial &amp; coronal planes.</p>
<p class="ql-align-justify"><br></p>
<p class="ql-align-justify"><strong><u>FINDINGS:</u></strong></p>
<p><u>Liver:</u>&nbsp;&nbsp;Normal in size &amp; attenuation.&nbsp;No focal lesions.&nbsp;No IHBD. </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CBD is normal.</p>
<p class="ql-align-justify"><u>Gall bladder:</u>&nbsp;&nbsp;Distended. Wall thickness is normal. No calculi.</p>
<p><u>Spleen:</u>&nbsp;&nbsp;Normal in size &amp; attenuation.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No evidence of calcification or
  focal lesions.</p>
<p><u>Pancreas:</u>&nbsp;&nbsp;Head, body &amp; tail regions are normal.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No evidence of
  pancreatic calcifications or calculi.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No dilatation
  of pancreatic duct.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No evidence of
  peripancreatic fluid.</p>
<p class="ql-align-justify">Bilateral adrenals are normal in size, shape &amp; attenuation.</p>
<p><u>Kidneys:</u>&nbsp;&nbsp;Normal in size, shape &amp; attenuation.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No evidence of
  calculus or hydronephrosis.</p>
<p class="ql-align-justify">Bilateral ureters are normal in course &amp; calibre.</p>
<p class="ql-align-justify">Urinary bladder is distended.&nbsp;Wall thickness is normal. No calculi.</p>
<p class="ql-align-justify">Stomach, duodenum &amp; bowel loops are normal to the extent visualised.</p>
<p class="ql-align-justify">No evidence of ascites.</p>
<p class="ql-align-justify">No evidence of lymphadenopathy.</p>
<p class="ql-align-justify">Visualized bones &amp; soft tissues are normal.</p>
<p class="ql-align-justify"><br></p>
<p class="ql-align-justify"><strong><u>IMPRESSION:</u>&nbsp;</strong></p>
<p class="ql-align-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO ABNORMALITY DETECTED.</p>
<p class="ql-align-justify"><br></p>
<p>For clinical correlation.</p>
