<p class="ql-align-center"><strong><u>DEPARTMENT OF RADIOLOGY</u></strong></p>
<p class="ql-align-center"><strong><u>CT SCAN OF BRAIN WITHOUT CONTRAST</u></strong></p>
<p><strong><u>TECHNIQUE:</u></strong></p>
<p>Helical CT acquisition of brain was done on Dual source Dual energy 64 slice</p>
<p>MDCT scanner with reconstruction of images in axial plane.</p>
<p><br></p>
<p><strong><u>FINDINGS:</u></strong></p>
<p>Posterior fossa structures including fourth ventricle are normal.</p>
<p>Supratentorial ventricular system is normal.</p>
<p>Cerebral parenchyma shows normal gray / white matter differentiation.</p>
<p>No focal lesion seen.</p>
<p>Cortical sulci, sylvian fissures and basal cisterns are normal.</p>
<p>No midline shift.</p>
<p>No extra axial collection.</p>
<p><br></p>
<p><strong><u>IMPRESSION:</u>&nbsp;</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO ABNORMALITY DETECTED.</p>
<p><br></p>
<p>To correlate clinically.</p>
