<p style="text-align: center;"> <strong style="font-size: 18px;"><u>DEPARTMENT OF RADIOLOGY</u>
  </strong></p>
<p style="text-align: center;"><strong style="font-size: 18px;"><u>CECT BRAIN</u></strong></p>
<p style="text-align: center;"><strong style="font-size: 18px;"><u><br></u></strong></p>
<p style="text-align: left;">
  <strong><u>TECHNIQUE</u></strong>:
</p>
<p style="text-align: left;"><span style="font-size: 16px;">Pre &amp; post contrast Helical CT acquisition of brain was
    done on MDCT scanner with reconstruction of images in axial, sagittal &amp; coronal planes.</span></p>
<p style="text-align: left;"><br></p>
<p style="text-align: left;"><strong><u>FINDINGS:</u></strong>
</p>
<p style="text-align: left;"><span style="font-size: 16px;">Posterior fossa structures including fourth ventricle are
    normal.
  </span></p>
<p style="text-align: left;"><span style="font-size: 16px;">Supratentorial ventricular system is normal.
  </span></p>
<p style="text-align: left;"><span style="font-size: 16px;">Cerebral parenchyma shows normal gray / white matter
    differentiation.
  </span></p>
<p style="text-align: left;"><span style="font-size: 16px;">No focal lesion seen.
  </span></p>
<p style="text-align: left;"><span style="font-size: 16px;">Cortical sulci, sylvian fissures and basal cisterns are
    normal.
  </span></p>
<p style="text-align: left;"><span style="font-size: 16px;">No midline shift.
    No extra axial collection.
  </span></p>
<p style="text-align: left;"><span style="font-size: 16px;">Contrast enhanced scan do not add any significant point of
    note.</span></p>
<p style="text-align: left;"><br></p>
<p style="text-align: left;">
  <strong><u>IMPRESSION:</u></strong>
</p>
<p style="text-align: left;">
  * <strong>No significant abnormality.</strong>

</p>
