<p style="text-align: center;" class="ql-align-center"><strong style="font-size: 24px;"><u>DEPARTMENT OF
      RADIOLOGY</u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u style="font-size: 18px;">X-RAY BOTH KNEES AP STANDING
      VIEW</u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: left;" class="ql-align-center"><span style="font-size: 18px;">Density and alignment of bones are
    normal.<br>Marginal osteophytes noted.<br>Prominent tibial spine.<br>Narrowing &amp; sclerosis of medial compartment
    joint space.<br>Soft tissues are normal.<br><br><strong>IMPRESSION:</strong><br>* Bilateral osteoarthritic
    changes..</span><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
