<p style="text-align: center;" class="ql-align-center"><strong style="font-size: 24px;"><u>DEPARTMENT OF
      RADIOLOGY</u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u style="font-size: 18px;">X-RAY BOTH KNEES AP &amp;
      LATERAL STANDING VIEW</u></strong><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: left;" class="ql-align-center"><span style="font-size: 18px;">Decreased medial aspect of
    tibiofemoral joint spaces with evidence of<br>subchondral sclerosis and periarticular osteophytes.<br>Reduced
    patellofemoral joint spaces. <br>Very minimal suprapatellar effusion seen.<br><br><strong>IMPRESSION: </strong>
    Features are suggestive of<br>Degenerative joint disease (Osteoarthritis) - Grade-3.<br><br>**Kellgren- Lawrence
    Radiographic Grading Scale of Osteoarthritis of the Tiobiofemoral joint.<br>Grade 0 - No radiographic findings of
    osteoarthritis <br>Grade 1 - Minute osteophytes of doubtful clinical significance.<br>Grade 2 - Definite Osteophytes
    with unimpaired joint space. <br>Grade 3 - Definite osteophytes with moderate joint spac narrowing<br>Grade 4 -
    Definite Osteophytes with severe joint space narrowing and subchondral sclerosis.</span><strong><u><br></u></strong>
</p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
