<p style="text-align: center;"> <span style="font-size: 24px;"><strong>DEPARTMENT OF RADIOLOGY</strong></span></p>
<p style="text-align: center;"><span style="font-size: 18px;"><strong><u>X-RAY CHEST AP VIEW</u></strong></span></p>
<br><br>
<p><span style="font-size: 16px;">Trachea is normal in position.<br>Cardiac size is normal.<br>Both lung fields are
    clear.<br>Both hila and diaphragmatic contour are normal.<br>Both costophrenic angles are clear.<br>Bony cage and
    soft tissues are normal.</span>
</p>
<br><br>
