<p style="text-align: center;" class="ql-align-center"><strong style="font-size: 24px;"><u>DEPARTMENT OF
      RADIOLOGY</u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u style="font-size: 18px;">X-RAY LEFT ANKLE AP &amp;
      LATERAL VIEW</u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: left;" class="ql-align-center"><span style="font-size: 18px;">Density and alignment of bones are
    normal.<br>Articular margins and joint spaces are normal.<br>Soft tissues are normal.<br>No obvious fractures
    noted.</span><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
<p style="text-align: center;" class="ql-align-center"><strong><u><br></u></strong></p>
