<p style="text-align: center;"> <strong style="font-size: 24px;">DEPARTMENT OF RADIOLOGY</strong></p>
<p style="text-align: center;"><strong><u style="font-size: 18px;">X-RAY LEFT FOREARM AP & LATERAL VIEW</u></strong>
</p><br>
<p><span style="font-size: 16px;">Density and alignment of bones are normal.</span></p>
<p><span style="font-size: 16px;">Articular margins and joint spaces are normal.</span></p>
<p><span style="font-size: 16px;">Soft tissues are normal.</span></p>
<p><span style="font-size: 16px;">No obvious fractures noted.</span></p>
<p><br></p>
